@tailwind base;
@tailwind components;
@tailwind utilities;

/* ซ่อนไอคอนแสดง/ซ่อนรหัสผ่านที่เบราว์เซอร์สร้างขึ้นเอง */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* สำหรับ Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

/* สำหรับ Safari */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

/* ซ่อนไอคอนรหัสผ่านใน Chrome/Edge */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-strong-password-auto-fill-button {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  right: 0 !important;
}